/************************************************************************************
smaller than 980
*************************************************************************************/
@media screen and (max-width: 980px) {

    /* pagewrap */
    #container {
        width: 95%;
    }

    /* content */
    #content {
        /* background: #f0f; */
        width: 69%;
        padding: 3% 4%;
    }
    
    /* sidebar */
    #sidebar {
        width: 20%;
    }
    #sidebar .category {
        padding: 8% 7%;
        margin-bottom: 10px;
    }


    .post-image img {
        /* display: none; */
        width: 20%;
    }

}

/************************************************************************************
smaller than 650
*************************************************************************************/
@media screen and (max-width: 650px) {

    /* header */
    #header {
        height: auto;
    }

    /* search form */
    #loginform {
        position: absolute;
        top: 15px;
        right: 90;
        z-index: 80;
        height: 40px;
    }
    /* search form */
    #searchform {
        position: absolute;
        top: 15px;
        right: 0;
        z-index: 100;
        height: 40px;
    }
    #searchform #s {
        width: 70px;
    }
    #searchform #s:focus {
        width: 150px;
    }

    /* main nav */
    #main-nav {
        position: static;
    }

    /* site logo */
    #site-logo {
        margin: 15px 15px 5px 0;
        position: static;
    }

    /* site description */
    #site-description {
        margin: 0 0 15px;
        position: static;
    }

    /* content */
    #content {
        width: auto;
        float: none;
        margin: 20px 0;
    }

    /* sidebar */
    #sidebar {
        width: 100%;
        margin: 0;
        float: none;
    }
    #sidebar .category {
        padding: 3% 4%;
        margin: 0 0 10px;
    }



}

/************************************************************************************
smaller than 560
*************************************************************************************/
@media screen and (max-width: 480px) {

    /* disable webkit text size adjust (for iPhone) */
    html {
        -webkit-text-size-adjust: none;
    }

    /* main nav */
    #main-nav a {
        font-size: 90%;
        padding: 10px 8px;
    }

}

